@charset "UTF-8";
/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
RESET
PAGE
NAV
CONTENT
CAROUSEL
*/





/*------------------------------------*\
    $RESET
\*------------------------------------*/
/*
Harry Roberts/CSS Wizardry reset: csswizardry.com/2011/10/reset-restarted
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
    display:block;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
strong,b,mark{
    font-weight:bold;
    font-style:inherit;
}
em,i,cite,q,address,dfn,var{
    font-style:italic;
    font-weight:inherit;
}
abbr[title],dfn[title]{
    cursor:help;
    border-bottom:1px dotted;
}
ins{
    border-bottom:1px solid;
}
a,u,ins{
    text-decoration:none;
}
del,s{
    text-decoration:line-through;
}
pre,code,samp,kbd{
    font-family:monospace;
}
small{
    font-size:0.75em;
}
img{
    border:none;
    font-style:italic;
}
input,
select,option,optgroup,
textarea{
    font:inherit;
}


/*------------------------------------*\
    PAGE
\*------------------------------------*/

body, html
{
  width: 100%;
  }

h3
{
  font-family: Questrial, sans-serif;
  font-size: 24px;
  padding-top: 50px;
  }

body, html, p
{
  font-weight: 300;
  }

input[type="submit"],
input[type="text"]
{
  padding: 8px 6px;
  font-size: 18px;
 }

p
{
  font-size: 18px;
  line-height: 24px;
  }

p { margin-top: 0.66em; margin-bottom: 1em; }

.header-container, .content-container
{
  width: 100%;
  border-top: 1px solid #ddd;
  margin: 0;
  }

.header-container
{
  margin-top: 460px;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.8);
 }

.content-container
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  }

/*------------------------------------*\
    NAV
\*------------------------------------*/

.header, .content
{
  position: relative;
  width: 960px;
  margin: 0 auto;
 }

.header-inner, .content-inner
{
  width: 50%;
  }

.subnav-fixed
{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
  width: 100%;
  border-bottom: 1px solid #ddd;

  background-color: white;
  }

.nav-pills
{
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
  }

.nav-pills > .active > a, .nav-pills > .active > a:hover
{
  color: initial;
  background-color: initial;
 }

.nav-pills > .active > a:hover
{ background-color: #ddd;
 }

.nav-pills > li > a
{
  color: #999;
 }

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.header
{
  font: 96px Questrial;
  font-weight: 400;
  color: #000;
  padding-bottom: 30px;
  }

.title
{
position: relative;
left: -6px;
 }

.subtitle
{
  position: relative;
  left: -1px;

  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  }

.content
{
  position: relative;
 }

.content-page
{
  height: 640px;
 }

.contact {
  margin-bottom: 50px;
}

/*------------------------------------*\
    CAROUSEL
\*------------------------------------*/

.overlay .phone
{
  position: fixed;
  z-index: 9999;

  top: 0px; right: 5%;
  height: 804px;
  width: 470px;
  background-image: url("/static/images/iphone_w.png")
  }

.overlay .phone .glare
{
  position: absolute;
  top: 38px; right: 50px;
  height: 429px;
  width: 153px;
  background-image: url("/static/images/glare_screen.png");
  }

.overlay .phone .screen
{
  position: absolute;
  top: 39px;
  left: 50px;
  height: 556px;
  width: 370px;

  background-size: cover;
  }

.background
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  background-image: url('/static/images/bg_1.jpg');
  background-size: cover;
  z-index: -1;
 }
