<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Bemo - Location sharing made simple</title>
    <meta name="description" content="Bemo is an app for sharing your location in real-time with friends.">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Questrial:400" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />

    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33538880-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
  </head>
  <body data-spy="scroll" data-target=".subnav">

    <div class="subnav subnav-fixed">
      <ul class="nav nav-pills">
        <li><a href="#content1" data-screen="/static/images/screen_push.png">Share Location</a></li>
        <li><a href="#content2" data-screen="/static/images/screen_contacts.png">Easy Registration</a></li>
        <li><a href="#content3" data-screen="/static/images/screen_call.png">Find Friends</a></li>
        <li><a href="#content4" data-screen="/static/images/screen_receive.png">Maintain Privacy</a></li>
        <li><a href="#content5" data-screen="/static/images/screen_map.png">Get Bemo</a></li>
      </ul>
    </div>

    <div class="header-container">
      <div class="header">
        <div class="header-inner">
          <div class="title" id="header">Bemo</div>
          <div id="default" class="subtitle">Location sharing made simple.</div>
          <!--<a href="#content5"><img src="/static/images/badge_ios.png" /></a>-->
          <!--<a href="#content5"><img src="/static/images/badge_android.png" /></a>-->
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="content">
        <div class="content-inner">

          <div class="content-page">
            <h3 id="content1">Share location</h3>
            <p>
            Stop calling and texting people and trying to figure out where they are.
            </p>
            <p>
            Bemo lets you request to share locations with a
            friend. Send them a Bemo request, and you can
            follow each others' locations in realtime.
            </p>
            <p>
            Unlike many other apps, Bemo respects your privacy by only
            sharing your location with the people you explicitly allow.
            Think phone calls, but for location.
            </p>
          </div>

          <div class="content-page">
            <h3 id="content2">Easy registration</h3>
            <p>
            Log in with Facebook and call any of your friends who use
            Bemo. There's no need to memorize yet another username and
            password.
            </p>
          </div>

          <div class="content-page">
            <h3 id="content3">Find friends</h3>
            <p>
            Don't waste your time texting or calling your friends for
            their whereabouts ever again. Find them with a single tap.
            </p>
          </div>

          <div class="content-page">
            <h3 id="content4">Maintain privacy</h3>
            <p>
            Bemo always asks before sharing your location.
            We keep your GPS off until it's absolutely necessary.
            </p>
          </div>

          <div class="content-page">
            <h3 id="content5">Coming soon</h3>
            <br>
            <form class="form-inline email-form" action="/signup" method="post">
                <input class="email" name="email" type="text" placeholder="Email">
                <button class="btn btn-large btn-success" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay">
      <div class="phone">
        <div class="screen"></div>
        <div class="glare"></div>
      </div>
    </div>

    <div class="background">
      <div class="preloader">
        <img style="width:1px;height:1px;position:absolute;bottom:1px;right:1px;" src="/static/images/screen_map.png" />
        <img style="width:1px;height:1px;position:absolute;bottom:1px;right:1px;" src="/static/images/screen_push.png" />
        <img style="width:1px;height:1px;position:absolute;bottom:1px;right:1px;" src="/static/images/screen_contacts.png" />
        <img style="width:1px;height:1px;position:absolute;bottom:1px;right:1px;" src="/static/images/screen_call.png" />
        <img style="width:1px;height:1px;position:absolute;bottom:1px;right:1px;" src="/static/images/screen_receive.png" />
      </div>
    </div>
  </body>
</html>
